.BellcorpStudioLogo {
  bottom: 0;
  font-size: small;
  z-index: 1;
  padding-right: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img {
    width: 120px;
    height: 50px;
    object-fit: contain;
  }
}
